<h2>New Manufacturer</h2>

<form action="/inventory/manufacturer" method="post">

  <label for="manufacturer-name">Name: </label>
  <input id="manufacturer-name" type="text" name="manufacturer_name">
  <br>

  <label for="website">Website: </label>
  <input id="website" type="text" name="website">
  <br>

  <label for="contact-name">Contact Name: </label>
  <input id="contact-name" type="text" name="contact_name">
  <br>

  <label for="email">Email: </label>
  <input id="email" type="text" name="email">
  <br>

  <label for="phone-number">Phone: </label>
  <input id="phone-number" type="text" name="phone_number">
  <br>

  <label for="notes">Notes: </label>
  <input id="notes" type="text" name="notes">
  <br>

  <input type="submit" value="Add">

</form>
