body {
  background: white url(/images/background.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right top;
}



.in_stock {
  color: green;
}

.low_stock {
  color: orange;
}

.out_of_stock {
  color: red;
}
