/* latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Regular'), local('Alegreya-Regular'), url(https://fonts.gstatic.com/s/alegreya/v10/4UaBrEBBsBhlBjvfkSLhx6jj4JN0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  src: local('Fugaz One'), local('FugazOne-Regular'), url(https://fonts.gstatic.com/s/fugazone/v7/rax_HiWKp9EAITukFsl8AxhfsUjQ8Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Regular'), local('Signika-Regular'), url(https://fonts.gstatic.com/s/signika/v8/vEFR2_JTCgwQ5ejvG1EmBlprZ0g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: white url(/images/background.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% 155px;
  font-family: "Alegreya", serif;
  font-size: 20px;
}

form, select {
  font-family: "Alegreya", serif;
  font-size: 14pt;
  padding-left: 5px;
}

input[type=submit] {
  background-color: rgb(61,183,244);
  font-family: "Alegreya", serif;
  color: white;
  border-color: rgb(147,219,255);
  border-radius: 6px;
  font-size: 12pt;
  width: 10em;
  height: 2.5em;
}

input[type=text] {
 width: 100px;
 height: 20px;
}

input[type=number] {
  /* width: 25%; */
  height: 20px;
}

input[type=text].long_text {
  padding-bottom: 50px;
  word-wrap: break-word;
  word-break: break-all;
  /* vertical-align: top; */
}

h1 {
  font-family: "Fugaz One", cursive;
  color: white;
  padding-left: 20px;
  padding-top: 1px;
  height: 30px;

}

h2, h3, th {
  font-family: "Signika", sans-serif;
}

nav {
  padding: 5px;
}

nav a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}

table {
  background-color: rgb(255,255,255,0.5);
  padding-top: 30px;
}

td {
  padding: 5px;
  padding-right: 10px;
  border-bottom: 1px solid rgb(91,18,25,0.25);
}

th {
  border-bottom: 1px solid rgb(91,18,25);
}

dd {
  width: 30%;
  padding-left: 100px;
}

a {
  color: rgb(61,183,244);
}
nav a:hover {
  color: rgb(147,219,255);
}

nav a:visited {
  color: rgb(210,240,255);
}

a:visited {
  color: rgb(23,85,117);
}

div.header {
  background-color: rgb(168,50,61,0.8);
}

div.show_button {
  display: flex;
  flex: space-around;
}

div.col_left {
  width: 150px;
}

div.col_right {
}

input.delete {
  background-color: rgb(168,50,61);
  border-color: rgb(91,18,25);
}

div.row {
  display: flex;
}

#form-container {
  width: 300px;
}

.in_stock {
  color: green;
}

.low_stock {
  color: orange;
}

.out_of_stock {
  color: red;
}
